<h1 style="text-align: center;"> Find A Spot! </h1>
<%= button_to "Add Spot", new_spot_path, method: :get, class: "btn btn-success btn-lg btn-block spot_button" %>


<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 91.5%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt1jfiTw9HXhY4P5atz6dxui0hADhAfBo">
    </script>
    <script type="text/javascript">

      
function initialize() {

  var mapOptions = {
     center : {
        lat: 34.012980899999995,
        lng: -118.49515380000003
        },
    zoom: 10
  };
  
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

  var mapPoints = [<% @spot.each do |s| %>
    {latitude: <%= s.lat %>, longitude: <%= s.lon %>, name: "<%= s.name %>",
      description: "<%= s.description %>", bust_factor: "<%= s.bust_factor %>", rating: "<%= s.rating %>", photo: "<%= s.photo.url(:thumb) %>"},<% end %>];

  for(var i = 0; i < mapPoints.length; ++i) {
    var someCoolPlace = new google.maps.LatLng(mapPoints[i].latitude, mapPoints[i].longitude);
    var marker = new google.maps.Marker({
      position: someCoolPlace,
      icon: 'http://i62.tinypic.com/9r3jo7.png',
      map: map,
      name: mapPoints[i].name,
      description: mapPoints[i].description,
      bust_factor: mapPoints[i].bust_factor,
      rating: mapPoints[i].rating,
      photo: mapPoints[i].photo
    });
  
    marker.setTitle((i + 1).toString());
    attachSecretMessage(marker, i);
  }
}

// The five markers show a secret message when clicked
// but that message is not within the marker's instance data
function attachSecretMessage(marker) {
  var infowindow = new google.maps.InfoWindow({
    content: "<b>" + "Name: " + "</b>" + marker.name + "<br>" + "<b>" + " Description: " + "</b>" + marker.description + "<br>" + "<b>" + " Bust Factor: " + "</b>" + marker.bust_factor + "<br>" + "<b>" + " Rating: " + "</b>" + marker.rating + "<br>" + "<b>" + " Photo: " + "</b>" + "<img src='" + marker.photo + "'>"
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(marker.get('map'), marker);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>