

<!-- <nav class="navbar navbar-default" role="navigation">
 -->  <div class="container-fluid navcolor" style=" margin-bottom: -20px; positon: fixed;">
    
    <div class="navbar-header">
      
      <div class ="brand">
      <a class="navbar-brand" style="color: black;" href="<%= spots_path %>" >SpotFind</a>
    </div>
  </div>

    

          <% if current_user %>
          <ul class="Logout nav navbar-nav navbar-right nav_links">
           <!-- <li><a style="color: black;" href="<%= new_spot_path %>">Add Spot</a></li> -->
          <li><a style="color: black;" href="<%= comments_path %>">Comments</a></li>
         <li><%= link_to "Logout", session_path, method: :delete, class: "logout" %></li>
          </ul>

          <% else %>
        
          <div class="nav navbar-nav navbar-right form-inline" style="padding-top: 7px; padding-right: 5px;">
            
        <%= form_for(:session, url: session_path) do |f| %>

      <%= f.text_field :username, placeholder: 'Username', class: 'form-control', autofocus: true %>
    
    
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
    
    
    <%= f.submit 'Login', class: 'btn btn-primary' %>
      </div>
        
    <% end %> 
       <% end %>
      
    </div>

<br>

